@charset "UTF-8";

header{
    text-align: center;
}



nav{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    overflow: hidden;
}
nav ul{
    width: 60%;
    margin-left: 20%;
    list-style: none;
}
nav li{
    width: calc(25% - 2px);
    border-left: 1px solid black;
    text-align: center;
    float: left;
}
nav li:last-child{
    border-right: 1px solid black;
}
nav a{
    display: block;
    text-decoration: none;
    color:#313131;
    font-size: 110%;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 45px;
}
nav a:hover{
    background-color: orange;
    color: #fff;
    transition: 0.5s;
}

h3 {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}

.wrapper {

    text-align: justify;
    text-justify: auto;

}

p {
    display: inline-block;
    text-align: left;
}

.merit1 {
    text-align: center;

}

.merit2{
    text-align: center;

}

.last {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}

.kakezan {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}

figure{
    padding: 20px;
    text-align: center;
}

figcaption {
    padding: 10px;
}

section .merit1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

span.wadai{
    background-color: orange;
    color: black;
}

span.kenkou{
    background-color: orange;
    color: black;
}

h4{
    text-align: left;
    padding: 20px;
}



a.btn{
    margin-top: 20px auto;
    padding: 15px auto;
    text-align: center;
}

footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
}

footer small{
    color: #fff;
    letter-spacing: 5px;
    font-style: normal;
}
