@charset "UTF-8";

header{
    text-align: center;
}



nav{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    overflow: hidden;
}
nav ul{
    width: 60%;
    margin-left: 20%;
    list-style: none;
}
nav li{
    width: calc(25% - 2px);
    border-left: 1px solid black;
    text-align: center;
    float: left;
}
nav li:last-child{
    border-right: 1px solid black;
}
nav a{
    display: block;
    text-decoration: none;
    color:#313131;
    font-size: 110%;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 45px;
}
nav a:hover{
    background-color: orange;
    color: #fff;
    transition: 0.5s;
}


h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}


article {
    text-align: center;
    padding: 20px;
    display: block;

}

.trigger{
    text-align: center;
    padding: 20px;
    display: block;
}

.walk{
    text-align: center;
    padding: 20px;
    display: block;
}

.text{
    text-align: left;
    padding: 20px;
    font-size: large;
    display: inline-block;
    line-height: 30px;
}




figure{
    padding: 20px;
    text-align: center;
}

figcaption {
    padding: 10px;
    color: red;
    font-size: large;
}

.place {
        display: flex;
        justify-content: center;

}
ul.kinki,.kanto,.touhoku,.hokuriku{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    color: red;
}

li {
    list-style-type: none;
    margin: 10px 0 10px 0;
    padding: 10px 30px;
    text-align: center;
    color: green;
  }


.btn{
    margin: 20px;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: large;
    color: orange;
}

footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
}

footer small{
    color: #fff;
    letter-spacing: 5px;
    font-style: normal;
}
